{% extends "base.html.twig" %}

{% block body %}
    {# a completer BDD #}
    <section class="add-customer">
        <h1>Nouveau hébergeur</h1>
        <div class="flex-add-customer">
            <ul>
                <li id="infoBtn" class="btn btn-link">
                    Informations générales
                </li>
                <li id="contactBtn" class="btn btn-link">
                    Contact
                </li>
            </ul>
        </div>  
        
        <div id="info">
            {{ form_start(form) }}
                <div class="form-floating mb-3">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}, {'attr': {'id': 'floatingName'}}) }}
                    {{ form_label(form.name, 'Nom de l\'hébergeur', {'label_attr': {'for': 'floatingCode'}}) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.code, {'attr': {'class': 'form-control'}}, {'attr': {'id': 'floatingCode'}}) }}
                    {{ form_label(form.code, 'Nom interne généré automatiquement', {'label_attr': {'for': 'floatingCode'}}) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.notes, {'attr': {'class': 'form-control'}}, {'attr': {'id': 'floatingNote'}}) }}
                    {{ form_label(form.notes, 'Notes ou remarques', {'label_attr': {'for': 'floatingNote'}}) }}
                </div>
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary mb-3'}}) }}
                    {{ form_widget(form.reset, {'attr': {'class': 'btn btn-secondary mb-3'}}) }}
            {{ form_end(form) }}
        </div>
        <div id="contact">
            <form action="" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="name-contact" id="floatingName" placeholder="Jean Dupont">
                    <label for="floatingName">Nom du contact</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="role-contact" id="floatingRole" placeholder="Chef de projet">
                    <label for="floatingRole">Role du contact</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="mail-contact" id="floatingMail" placeholder="Jean.Dupont@gmail.com">
                    <label for="floatingMail">Mail du contact</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="phone" class="form-control" name="phone-contact" id="floatingPhone" placeholder="0102030405">
                    <label for="floatingPhone">Téléphone du contact</label>
                </div>
                <button class="btn btn-secondary mb-3" name="dont-add-contact" type="reset">Annuler l'ajout du contact</button>
                <button class="btn btn-primary mb-3" name="add-contact" type="submit">Ajouter le contact</button>
            </form>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{{asset('infoContact.js')}}"></script>
{% endblock %}