{% extends "base.html.twig" %}

{% block body %}
    {# a completer BDD #}
    <section class="add-customer">
        <h1>Modifier un client</h1>
        <div class="flex-add-customer">
            <ul>
                <li id="infoBtn" class="btn btn-link">
                    Informations générales
                </li>
                <li id="contactBtn" class="btn btn-link">
                    Contact
                </li>
            </ul>
        </div>
        
        <div id="info">
            <h2>Informations générales</h2>
            {{ form_start(form) }}
                <div class="form-floating mb-3">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}, {'attr': {'id': 'floatingName'}}) }}
                    {{ form_label(form.name, 'Nom de l\'hébergeur', {'label_attr': {'for': 'floatingCode'}}) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.code, {'attr': {'class': 'form-control'}}, {'attr': {'id': 'floatingCode'}}) }}
                    {{ form_label(form.code, 'Nom interne généré automatiquement', {'label_attr': {'for': 'floatingCode'}}) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.notes, {'attr': {'class': 'form-control'}}, {'attr': {'id': 'floatingNote'}}) }}
                    {{ form_label(form.notes, 'Notes ou remarques', {'label_attr': {'for': 'floatingNote'}}) }}
                </div>
                    {{ form_row(form.submit, { 'label': 'Modifier l\'hébergeur' }, {'attr': {'class': 'btn btn-primary mb-3'}}) }}
                    {{ form_row(form.reset, { 'label': 'Annuler la modification' }, {'attr': {'class': 'btn btn-secondary mb-3'}}) }}
            {{ form_end(form) }}
        </div>

        <div id="contact">
            <h2>Contact</h2>
            
            {# a completer BDD #}
        </div>
        
    </section>
{% endblock %}

{% block js %}
    <script src="{{asset('infoContact.js')}}"></script>
{% endblock %}